<template name="matches">
    <div class="window window-left-50">
        <div class="row row-margin-5">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'home'}}">Trang chủ</a></li>
                    <li class="active">Danh sách trận đấu</li>
                </ol>
            </div>
        </div>
        <div class="row row-margin-5">
            <div class="col-md-12">
                <div class="pull-right">
                    <a href="{{pathFor 'match_create'}}" class="btn btn-success"><i class="fa fa-plus"></i> Tạo trận đấu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="window window-right-50">
        <div class="map-container">
            {{> maps type='matches'}}
        </div>
    </div>
</template>