body {
    height: 100%;
    overflow-x: hidden;
}

.container-fluid{
    min-height: 99%;
    height: 100%;
}

.row-margin-5{
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.ol-field{
    padding-left: 30px;
}

.ol-field li{
    line-height: 34px;
    margin-bottom: 10px;
}

.ol-field-li{
    float:right;
    width: 99%;
}

.map-container{
    min-height: 99%;
    height: 100%;
}

#map{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.window{
    top: 50px;
    position: fixed;
}

.window-left-50{
    padding-top : 10px;
    width : 50%;
    left : 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.window-right-50{
    left: 50%;
    right: 0px;
    bottom: 0px;
    overflow-x: hidden;
}